body {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    background-color: rgb(210, 208, 208);
    color: #f28888;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: 'Courier New', monospace;;
    border-bottom: 3px solid #c9bd98;
    color: #baa67e;
    font-size: 30px;
}